.contacts{
    padding-bottom: 100px;
    &__wrapper{
    }
    &__title{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 120px;
        text-align: center;
        color: #000000;
        background: url("/img/contact_back.png") center no-repeat;
        background-size: cover;
        padding-bottom: 50px;
        padding-top: 30px;
    }
    &__info{
        padding-top: 100px;
        font-size: 16px;
        text-transform: uppercase;
        color: #000000;
        text-align: left;
    }
    &__number{
        padding-top: 20px;
        font-size: 50px;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        text-align: left;
        padding-bottom: 10px;
        border-bottom: 1px #000000 solid;
    }
    &__bottom{
        text-align: left;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        .right{
            font-size: 16px;
            color: #000000;
            a{
                text-decoration: underline;
                text-decoration-color: black;
            }
        }
        .left{
            font-size: 16px;
            color: #000000;
            vertical-align: middle;
            &:hover{
                text-decoration: underline;
                text-decoration-color: black;
            }
        }
        img{
            vertical-align: middle;
            margin-right: 5px;
        }
    }
}
