.content{
    padding-top: 80px;
    padding-bottom: 80px;
    &__partners{
        padding-top: 30px;
        padding-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        &--block{
            align-items: center;
            width: 310px;
            height: 160px;
            justify-content: center;
            display: flex;
            margin: 0 20px 20px;
            border: 1px rgba(0, 0, 0, 0.5) solid;
            background: white;
            &:hover img {
                filter: none;
            }
            img{
                height: 70px;
                filter: grayscale(100%);
                transition: .2s all ease-out;
            }
        }
    }
    &__social{
        padding-top: 160px;
        font-weight: 900;
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        a{
            padding-left: 40px;
            img{
                vertical-align: middle;
            }
        }
    }
    &__btn{
        font-size: 18px;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        color: white;
        padding: 8px 0;
        background: #F000FF;
        background-size: 100% 100%;
        width: 300px;
    }
    &__title{
        font-weight: 900;
        font-size: 40px;
        margin: 0 20px;
        text-transform: uppercase;
        color: #000000;
        position: relative;
        &::after{
            content: '';
            display: inline-block;
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background: black;
        }
    }
    &__timer{
        margin-top: 20px;
        margin-bottom: 70px;
        width: 100%;
        text-align: center;
        &--padding{
            display: inline-block;
            padding-left: 40px;
            .counter{
            background: blue;
            color: white;
            display: inline-block;
            padding: 0 20px;
            font-weight: bold;
            font-size: 150px;
            text-align: center;
            text-transform: uppercase;
            p{color: black;}
            }
        }
    }
    &__slider{
        width: 100%;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        &--item{
            display: inline-block;
            position: relative;
            margin: 0 20px;
            .inside{
                padding-top: 10px;
                padding-bottom: 140px;
                background: linear-gradient(180deg, #FEFC06 0%, #FFFFFF 100%);
                &-image{
                    position: relative;
                }
            }
            b{
                font-weight: 900;
                font-size: 42px;
                line-height: 51px;
                text-transform: uppercase;
            }
            p{
                font-style: normal;
                font-weight: 900;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
            }
            img{
                display: block;
                width: 100%;
                position: relative;
                &::after{
                    content: '';
                }
            }
        }
    }
    &__interesting{
        margin-top: 100px;
        background: transparent;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &--column{
            flex-basis: 360px;
            box-shadow: 20px 20px 200px rgba(0, 0, 0, 0.1);
            background: white;
            img{
                display: block;
            }
            .bottom{
                background: white;
                position: relative;
                &::after{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    right: 0;
                    height: 70px;
                    background: url("/img/info.svg") center no-repeat;
                    background-size: 100% 100%;
                    width: 100%;
                }
            }
            .top{
                background: white;
                position: relative;
                &::before{
                    content: '';
                    z-index: 5;
                    display: inline-block;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    right: 0;
                    height: 70px;
                    background: url("/img/info-reverse.svg") center no-repeat;
                    background-size: 100% 100%;
                    width: 100%;
                }
            }
            &:nth-of-type(3) .info{
                //box-shadow: 20px 20px 200px rgba(0, 0, 0, 0.1);
            }
            .info{
                height: 290px;
                text-align: left;
                padding: 0 30px;
                b{
                    padding-top: 20px;

                    font-weight: 900;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #000000;
                    line-height: 30px;
                    display: block;
                }
                p{
                    padding-top: 15px;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 26px;
                    color: #000000;
                }
            }
        }
    }
}
