.info{
    &__interesting{
        &--title{

        font-weight: 900;
        font-size: 28px;
        line-height: 50px;
        text-align: left;
        padding-top: 100px;
        text-transform: uppercase;
        color: #000000;
        }
        &--text{
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 32px;
        padding-top: 70px;
        color: #000000;
        text-align: left;
            .date{
                color: rgba(45, 53, 68, 0.75);
                font-size: 12px;
            }
        }
    }
    &__wrapper{
        padding-top: 190px;
        &--text{

            font-weight: 800;
            font-size: 13px;
            line-height: 200px;
            text-transform: uppercase;
            color: #000000;
            img{
                vertical-align: middle;
            }
        }
        &--phone{
            position: relative;
            img{
                position: absolute;
                left: 50%;
                transform: translate(-50%,0);
                top: -60px;
            }

            font-weight: normal;
            font-size: 70px;
            line-height: 100px;
            text-transform: uppercase;
            color: #000000;
        }
    }
}
