@media (max-width: @screen-lg) {
  .main__title {
    font-size: 80px;
    line-height: 70px;
  }
.contacts__info{

}
.about__information ul a{
    font-size: 16px;
}
  .content__slider--item {
      b{
        font-size: 30px;
      }
      p{
        font-size: 16px;
      }
  }
  .main{
    padding-top: 80px;
  }
  .site-bottom__title{
    font-size: 70px;
  }
  .cont-fix{
    width: auto;
  }
  .nav__logo{
    margin-right: 0;
    width: 160px;
  }
  .nav__profile{
    padding-left: 30px;
 }
  .nav__links{
      font-size: 12px;
  }
  .content__timer--padding{
    .second , .hours , .minute , .days{
      font-size: 120px;
    }
  }
  .footer__bottom--info{
    font-size: 8px;
    padding-right: 10px;
  }
  .footer__bottom--phone{
    font-size: 16px;
  }
  .footer__bottom--address{
    font-size: 12px;
  }
    .register__title{
        font-size: 100px;
    }
}
@media (max-width: @screen-md) {
    .hamburger{
        display: inline-block;
    }
    .about__information ul{
        display: none;
    }
    .register__title{
        font-size: 80px;
    }
    .nav__links{
        display: none;
    }
    .md-float-right{
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 5px;
    }
    .nav__lang{
        display: none;
    }
    .nav{
        height: 60px;
    }
    .nav__profile{
        display: none;
    }
  .main__title{
    font-size: 60px;
    line-height: 70px;
    padding-top: 30px;
  }
  .main__info--time{
    font-size: 50px;
  }
  .main__info--distance{
    font-size: 20px;
  }
  .bottom__title{
    font-size: 50px;
    line-height: 90px;
  }
  .content__timer--padding{
    .second , .hours , .minute , .days{
      font-size: 100px;
    }
  }
  .content__title{
      font-size: 25px;
  }
    .site-bottom{
        .main__register{
            margin-bottom: 30px;
        }
      .text-right{
          text-align: center;
      }
    }
}
@media (max-width: @screen-sm) {
    .contacts__title{
        font-size: 90px;
    }
    .main__title{
        padding-top: 100px;
    }
    .site-bottom__title{
        padding-bottom: 0;
    }
    .main{
        min-height: 550px;
    }
    .content__timer--padding{
        padding-left: 10px;
        .second , .hours , .minute , .days{
          font-size: 80px;
        }
    }
    .footer__bottom{
        background: #000000;
        height: 370px;
        &--phone{
            font-size: 32px;
            display: block;
        }
        &--info{
            padding-top: 40px;
            font-size: 11px;
            display: block;
            padding-bottom: 20px;
        }
        &--address{
            font-size: 14px;
            max-width: 230px;
            margin: 20px auto 50px;
        }
        div{
            text-align: center;
        }
    }
    .site-bottom__title{
        padding-bottom: 30px;
    }
}
@media (max-width: 640px) {
    .borders::before{
        border-bottom: 50px solid transparent;
    }
    .content__slider--item{
        .inside{
            padding-bottom: 50px;
        }
        b{
        font-size: 25px;
        }
        p{
            font-size: 15px;
            font-weight: normal;
            line-height: 15px;
        }
    }
  .content__timer--padding{
    .counter{
      font-size: 60px;
    }
  }
}
@media (max-width: 540px) {
    .contacts__title{
        font-size: 40px;
    }
.about__information--title{
    font-size: 24px;
}
.about__information--table .info {
    & .right , & .left{
        font-size: 12px;
        font-weight: normal;
    }
}
    .content__slider{
        padding-top: 20px;
    }
      .content__timer--padding{
        .counter{
          font-size: 40px;
        }
      }
      .main__register{
          margin-bottom: 20px;
      }
     .content__btn{
        margin: 30px 0;
     }
    .register__status--wrapper{
        font-size: 12px;
    }
      .footer{
          .text-right{
              padding-top: 40px;
              padding-bottom: 20px;
              text-align: left;
          }
          .footer__socials{
              text-align: left !important;
              a{
                  padding: 0 15px 0 0;
              }
          }
      }
    .apply{
        font-size: 11px;
    }
    .site-bottom__title{
        font-size: 36px;
        line-height: 32px;
    }
    .register__title{
        font-size: 60px;
        padding-bottom: 10px;
    }
}
@media (max-width: 480px) {
    .contacts__number{
        font-size: 26px;
    }
    .contacts__info{
        font-size: 12px;
    }
    .register__form .flexy a img{
        margin-top: 20px;
        width: 130px;
    }
    .register__form .flexy a span{
        padding-bottom: 20px;
    }
    .register__form .flexy{
        margin-bottom: 50px;
    }
    .register__form .flexy a{
        height: auto;
    }
    .contacts__bottom .left , .contacts__bottom .right{
        font-size: 10px;
    }
    .register__status--wrapper{
        font-size: 10px;
        padding: 15px 0px;
    }
    .register .whitespace{
        padding-left: 0;
        padding-right: 0;
    }
    .register__distance{
        padding-top: 40px;
    }
    .register__status :not(.active){
        display: none;
    }
    .register__status .active{
        width: 100%;
        text-align: center;
        font-size: 18px;
        &:after{
            display: none;
        }
    }

}
@media (max-width: 380px) {
    .main{
        min-height: 91vh;
        .main &__register{
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .register__title{
        font-size:40px
    }
    .about--info{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .about--info-right{
        padding-top: 40px;
    }
    .main__title{
        text-align: center;
        img{
            width: 90%;
        }
    }
    .content__timer{
        margin-bottom: 0;
    }
    .content__timer--padding:last-child{
        display: none;
    }
    .content{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .content__timer{
        padding-bottom: 40px;
    }
    .content__btn{
        margin: 20px 0 40px;
    }
    .content__partners{
         .opacity-hide{
            display: none;
        }
    }
    .site-bottom__title{
        padding-top: 10px;
    }
    .little-hide{
        display: none;
    }
    .about--info-left h3{
        line-height: 24px;
        font-size: 25px;
    }
    .about--info-left p{
        padding-bottom: 40px;
    }
    .site-bottom .text-right{
        padding-left:0;
    }
}
