.slider{
    width: 100%;
    position: relative;
    &-nav{
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
    }
    &__text{
        font-weight: 600;
        line-height: normal;
        font-size: 10px;
        text-align: center;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #1B1B1B;
        background: url(/img/slideback.svg) center no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        padding: 15px 30px;
        margin-top: 170px;
    }
    &__title{
        margin-top: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: white;
    }
    &__date{
        color: white;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 11px;
        margin-top: 130px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        opacity: 0.75;
    }
    &__inner{
        background: url(/img/slide.jpg) center no-repeat;
        background-size: cover;
    }
}
.rest-nav{
    width: 100%;
    padding: 10px 0;
    &__p{
        font-weight: 600;
        line-height: 17px;
        font-size: 11px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }
    &__img{
        width: 80%;
    }
    &__inner{
        text-align: center;
    }
}
.rest-list{
    width: 100%;
    &__inner{
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 11px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #333333;
        position: relative;
        padding:10px 0 20px;
        
    }
    .active{
        color: #49B05F;
        &::after{
            content: '';
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%,0);
            height: 3px;
            width: 50px;
            background: linear-gradient(90deg, #BEF587 0%, #70E78A 100%);
        }
    }
}
