@font-face {
    font-family: Agipo;
    src: url('/fonts/agipo_regular-webfont.woff2') format('woff2'),
         url('/fonts/agipo_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Agipo;
    src: url('/fonts/agipo_bold_condensed-webfont.woff2') format('woff2'),
         url('/fonts/agipo_bold_condensed-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
