/*
 * UI Form-group
 * 
 * Use this module to create things
 * like bottom margin to space out your 
 * forms or use to define states for your forms
 */

.form-group{
	margin-bottom: 15px;

	&--error{
		/* Error state ... */
	}
}